*.gz
*.swp
*.o
*.txt
*.tr
*.tar.gz
Makefile
autoconf.h
common/ptypes2tcl
config.log
config.status
gen/
indep-utils/cmu-scen-gen/setdest/calcdest
indep-utils/cmu-scen-gen/setdest/setdest
indep-utils/webtrace-conv/dec/dec-tr-stat
indep-utils/webtrace-conv/epa/epa-tr-stat
indep-utils/webtrace-conv/nlanr/nlanr-tr-stat
indep-utils/webtrace-conv/ucb/ucb-tr-stat
ns
nstk
tcl/lib/ns-autoconf.tcl
*.cdf
conf/configure.in.debugopts
conf/configure.in.des
conf/configure.in.dmalloc
conf/configure.in.dynamic
indep-utils/dosdbell/test.dat
tcl/ex/red-pd/allTCP/allTCP.disabled.pl
